[Desktop Entry]
Type=Service
MimeType=application/octet-stream;inode/directory;
Actions=keneric-remove-thumbnails;keneric-recursif-remove-thumbnails;
TryExec=keneric-remove-thumbnails
X-KDE-Submenu=Keneric Actions

[Desktop Action keneric-remove-thumbnails]
Name=Delete thumbnails of items
Name[fr]=Supprimer les vignettes des éléments
Icon=delete
Exec=keneric-remove-thumbnails %U

[Desktop Action keneric-recursif-remove-thumbnails]
Name=Recursive delete thumbnails of items
Name[fr]=Supprimer recursivement les vignettes des éléments
Icon=delete
Exec=keneric-recursive-remove-thumbnails %U
