[Desktop Entry]
Type=Service
MimeType=application/octet-stream;inode/directory;
Actions=keneric-custom-icon;
TryExec=keneric-custom-icon
X-KDE-Submenu=Keneric Actions

[Desktop Action keneric-custom-icon]
Name=Choose a custom thumbnail
Name[fr]=Choisir une vignette personnalisée
Icon=link
Exec=keneric-custom-icon %U
